.footer-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    color: #fcfcfc;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding-bottom:90px;
}

.menu-footer{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
    cursor: pointer;
}

.menu-footer span{
    background-color: #3d9544;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    margin: 10px 15px;
}

.last-foot{
    background-color: #232323;
    color: #fcfcfc;
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}